@use "../abstracts/varcolors";
@use "../abstracts/mixins";



.dashbord {

}

#dashboard {
    @include mixins.breakpoint(small) {
        padding-top : 10vh;
    }

    @include mixins.breakpoint(medium) {
        padding-top : 11vh;
    }

    @include mixins.breakpoint(mediumLarge) {
        margin-top : 20vh;
        padding-top : 10vh;
    }

    @include mixins.breakpoint(large) {
        margin-top : 15vh;
    }

}

#footer {

min-width: 100vw;

}