@use '../abstracts/varcolors' as varcolors;
@use '../abstracts/mixins' as mixins;


#homeGame {
 /* Espacement haut responsive */
  margin-top: 12vh;

  @include mixins.breakpoint(medium) {
    margin-top: 15vh;
  }

  @include mixins.breakpoint(medium-large) {
    margin-top: 25vh;
  }

  .alert-success,
  #session-message,
  .alert-error,
  #session-error,
  #session-alert,
  .alert {
    color: varcolors.$pink_Glamour;
  }

  .homeuser-game-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mixins.breakpoint(small) {
      flex-direction: row;
    }
  }

  .homepageGame-header {
    display: block; /* ✅ bloc centré */
    text-align: center;
    margin: auto;

    h1 {
      display: block;
      font-size: 2em;
      margin: 0 auto 1vh auto;
      text-align: center;
    }

    p {
      display: block;
      font-size: 1.2em;
      margin: 0;
      text-align: center;
    }
  }

  .card-game-container {
    display: flex;
    flex-direction: column; /* ✅ colonne par défaut */
    gap: 20px;

    @include mixins.breakpoint(medium) {
      flex-direction: row; /* ✅ row sur grands formats */
    }
  }

  // Cartes
  .card-game-article {
    width: 100%;
    max-width: 260px;
    margin: 2vh auto;
    border-radius: 20px;
    align-items: center;
  }

  // Mixins cards
  .card-game-color-vert {
    @include mixins.cards(varcolors.$vert-main);
    border: 1px solid varcolors.$noir;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  }

  .card-game-color-bleu {
    @include mixins.cards(varcolors.$bleu-main);
    border: 1px solid varcolors.$noir;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  }

  .card-game-color-jaune {
    @include mixins.cards(varcolors.$jaune-main);
    border: 1px solid varcolors.$noir;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  }

  // Images
  .card-game-image-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 15px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
  }

  .card-memo {
    background-image: url('../../img/Miaou/ChatMemo.png');
  }
  .card-pixelart {
    background-image: url('../../img/Miaou/ChatPixelArt.png');
  }
  .card-click {
    background-image: url('../../img/Miaou/ChatAttrapeSouris.png');
  }

  .jeu-action-button {
    @include mixins.button-3d(varcolors.$violet-main, varcolors.$violet-dark, varcolors.$noir);
    align-self: center;
    margin-bottom: 2vh;
    width: 35vw;

    @include mixins.breakpoint(small) {
    width: 30vw; /* ✅ small */
  }

  @include mixins.breakpoint(medium) {
    width: 21vw; /* ✅ medium */
  }

  @include mixins.breakpoint(mediumLarge) {
    width: 13vw; /* ✅ medium-large et + */
  }

  @include mixins.breakpoint(large) {
    width: 15vw; /* ✅ medium-large et + */
  }

  @include mixins.breakpoint(larger) {
    width: 15vw; /* ✅ medium-large et + */
  }

  @include mixins.breakpoint(ultra) {
    width: 10vw; /* ✅ medium-large et + */
  }
  }
}
