{% extends "layout.html.twig" %}

{% block title %}
    | Jeu Click Souris
{% endblock %}

{% block body %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

<section id="click-souris">
    
    <!-- En-tête -->
        <header class="header-click">
        <h1>Attrape la Souris !</h1>
        <p class="instructions">
            Choisis ton niveau de difficulté et attrape la <span>souris</span> le plus vite possible !
        </p>
            <div class="sound-click">
                <button id="mute" class="mute-btn"><img src="assets/img/game/memory/mute1.png" alt="Muet"></button>
                
                <button id="volume" class="volume-range"><img  src="assets/img/game/memory/Volume.png" alt="Volume"></button>
            </div>
            <p>Le nombre de coeur reflete le niveau de difficulté</p>
    </header>

    <!-- Meilleurs scores par niveau -->
    <div class="best-scores-click">
        <div class="score-level">
            <h2><img src="assets/img/game/memory/levelCoeur.png" alt="1 coeur"></h2>
            <p>Meilleur score</p>
            <span id="best-score-facile">{{ userBestScores.facile }}</span>
            <button class="level-buttons-click" data-difficulty="facile">Jouer</button>
        </div>
        <div class="score-level">
            <h2>
                <img src="assets/img/game/memory/levelCoeur.png" alt="coeur">
                <img src="assets/img/game/memory/levelCoeur.png" alt="coeur">
            </h2>
            <p>Meilleur score</p>
            <span id="best-score-intermediaire">{{ userBestScores.intermediaire }}</span>
            <button class="level-buttons-click" data-difficulty="intermediaire">Jouer</button>
        </div>
        <div class="score-level">
            <h2>
                <img src="assets/img/game/memory/levelCoeur.png" alt="coeur">
                <img src="assets/img/game/memory/levelCoeur.png" alt="coeur">
                <img src="assets/img/game/memory/levelCoeur.png" alt="coeur">
            </h2>
            <p>Meilleur score</p>
            <span id="best-score-difficile">{{ userBestScores.difficile }}</span>
             <button class="level-buttons-click" data-difficulty="difficile">Jouer</button>
        </div>
    </div>

    <!-- Zone de jeu -->
    <div id="game-container">
        <div id="mouse">
            <img src="assets/img/game/clickSouris/sourisGrise.svg" alt="Souris">
        </div>
        <div id="chat-cursor">
            <img src="assets/img/game/clickSouris/chatattrap.png" alt="Chat">
        </div>
    </div>

    <!-- Barre de contrôle du jeu -->
    <div class="bar-click">
        <div class="score-click">
            <p>Score</p>
            <span id="score">0</span>
        </div>
        <div class="timer-click">
            <p>Temps restant</p>
            <span id="game-time">60</span>s
        </div>
        <div class="start-click">
            <button id="start-game">Démarrer</button>
        </div>
        <div class="message-click">
            <p id="result-message"></p>
        </div>
    </div>

</section>

{% endblock %}

{% endblock %}