 <form method="POST" action="?route=contact" class ="form-control">

                    <div class='container-contact'>  

                        <fieldset>
                                <legend>Merci de renseigner les informations suivantes :</legend>

                                <label  for        = "firstname">Prénom :</label>
                                <input  type       = "text"
                                        id         = "firstname"
                                        name       = "firstname"
                                        aria-label = "firstname field"
                                        value      = "">
                                <div class="error-message" id="error-firstname" role="alert" aria-live="polite"></div>

                                <label  for        = "email">Email :</label>
                                <input  type       = "email"
                                        id         = "email"
                                        name       = "email"
                                        aria-label = "Email field"
                                        value      = "">
                                <div class="error-message" id="error-email" role="alert" aria-live="polite"></div>

                                <label  for        = "subject">Sujet:</label>
                                <input  type       = "text"
                                        id         = "subject"
                                        name       = "subject"
                                        aria-label = "Subject field"
                                        value      = "">
                                <div class="error-message" id="error-subject" role="alert" aria-live="polite"></div>

                                <label for="content">Contenu</label>
                                <textarea       id               = "content" 
                                                name             = "content" 
                                                rows             = "5" 
                                                cols             = "33"
                                                aria-describedby = ""></textarea>
                                <div class="error-message" id="error-content" role="alert" aria-live="polite"></div>


                                <input  type    = "hidden"
                                        name    = "csrf_token"
                                        id      = "csrf_token"
                                        value   = "{{ csrf_token }}">
                                <div class="error-message" id="error-csrf_token" role="alert" aria-live="polite"></div>                        

                                <input  type    = "submit"
                                        name    = "soumettre"
                                        value   = "Envoyer"
                                        class = "btn-primary">
                        </fieldset>
                        </div>
                </form>