{% extends "layout.html.twig" %}

{# Titre de la page #}
{% block title %}
         | DashboardAdmin
{% endblock %}

{% block body %}


        {% block content %}
    
            {% block error %}
            {% endblock %}
            <section id="dashboard">
                <h2>Panneau d'administration</h2>
                
                <div class="actionAdmin">
                    <ul>
                        <li class="admin-button">
                            <a href="?route=allUsers" type="button">Recherche utilisateur</a>
                        </li>
                        <li class="admin-button">
                            <a href="?route=messagerie" type="button">Messagerie
                                {% if nbrMessages >= 1 %}
                                    <span class="notification-badge"></span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="admin-button">
                            <a href="?route=StoriesAdmin" type="button">Histoires</a>
                        </li>
                        <li class="admin-button">
                            <a href="?route=modifColoriage" type="button">Coloriages</a>
                        </li>
                        <li class="admin-button">
                            <a href="?route=modifGame" type="button">Jeux</a>
                        </li>
                        <li class="admin-button">
                            <a href="?route=modifActuality" type="button">Actualités</a>
                        </li>
                        <li class="admin-button">
                            <a href="?route=modifAvatar" type="button">Avatars</a>
                        </li>
                    </ul>
                </div>
                
            </section>
         
        {% endblock %}

       
{% endblock %} 



