{% extends "layout.html.twig" %}

{% block title %}
      Miaou |Souscription à la newsletter 
{% endblock %}
{% block body %}

        {% block header %}
            {{ parent() }}
        {% endblock %}

        {% block content %}
        
        {% block error %}
        {% endblock %}
       <section id="newsletter" class="newsletter-content">
  <h2 class="sr-only">Formulaire d’abonnement à la newsletter</h2>

  <article id="newsletter-form" class="form" role="form" aria-labelledby="newsletter-title">
    <h3 id="newsletter-title">
      Pour vous abonner à la Newsletter :<br aria-hidden="true"> Renseignez vos Prénom et Email
    </h3>

    <form method="POST" action="?route=subscribe-newsletter" class="newsletter-form" novalidate aria-describedby="newsletter-description">
      <div class="container-newsletter">
        <legend class="sr-only">Informations d’abonnement</legend>

        <label for="firstname">Prénom <span aria-label="requis" class="required">*</span></label>
        <input type="text" id="firstname" name="firstname" aria-describedby="error-firstname" required>
        <div class="error-message" id="error-firstname" role="alert" aria-live="polite"></div>

        <label for="email">Email <span aria-label="requis" class="required">*</span></label>
        <input type="email" id="email" name="email" aria-describedby="error-email" required>
        <div class="error-message" id="error-email" role="alert" aria-live="polite"></div>

        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
        <div class="error-message" id="error-csrf_token" role="alert" aria-live="assertive"></div>

        <div class="submit-button">
          <input type="submit" class="register-btn" name="soumettre" value="S’abonner" aria-label="S’abonner à la newsletter Miaou">
        </div>
      </div>
    </form>
  </article>
</section>

{% endblock %}
{% endblock %}