@use 'varcolors';




@media #{$varcolors.mobile} {
// Styles par défaut pour les mobiles
}

@media #{$varcolors.small} {
// Petits appareils (téléphones en mode paysage, 576px et plus)
}

@media #{$varcolors.medium} {
// Appareils moyens (tablettes, 768px et plus)
}

@media #{$varcolors.medium-large} {
// Appareils moyens (tablettes, 850px et plus)
}

@media #{$varcolors.large} {
// Grands appareils (ordinateurs de bureau, 992px et plus)
}

@media #{$varcolors.extra} {
// Très grands appareils (grands écrans d'ordinateurs, 1200px et plus) 
}

@media #{$varcolors.extraLarge} {
// Super grands écrans (1400px et plus)
}

@media #{$varcolors.ultra} {
// Ultra grands écrans (1600px et plus)
}

