@use "abstracts/varcolors.scss";
@use "abstracts/mixins";
@use "components/header";
@use "components/catcss"; 
@use "components/footer";
@use "components/modal";
@use "pages/homepage";
@use "pages/login";
@use "pages/register";
@use "pages/modifypassword";
@use "pages/homepageUser";
@use "pages/story";
@use "pages/pedagogie";
