@use '../abstracts/responsive';

@media #{$mobile} {
    // Styles pour les appareils moyens (max-width: 575px)
}

#footer {
    position: fixed;
    left: 0;
    bottom: -100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: Raleway;
    color: white;
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    transition: bottom 1s;
    z-index: 1000;
    
    &:hover {
        bottom: 10;
        transition: bottom 1s;
    }
    
    .container {
        margin: 0 auto;
    }
    
    h2 {
        display: none;
        font-size: 0;
    }
    
    // Classe pour masquer visuellement mais garder accessible
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
    
    .foot-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 1.5vh;
        padding-bottom: 3.5vh;
        max-height: 10vh;
        
        .timer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            font-size: 2.5vh;
            
            p:first-of-type {
                color: white;
                font-weight: bold;
                font-size: 1em;
                margin-top: 2vh;
                padding: 0.80vh;
                margin-left: 1vh;
                box-shadow: 6px 8px 0px #37474f;
                border: white 2px solid;
                border-radius: 500px;
                text-align: center;
            }
            
            span {
                margin-right: 0.2px;
            }
            
            &:nth-of-type(2) {
                width: 50%;
                margin-top: 4em;
                padding-top: 2.5em;
                margin-right: auto;
            }
        }
        
        .retour-haut {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding-top: 2vh;
            padding-right: 3vh;
            
            .topButton {
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
                
                img {
                    width: 8vh;
                    height: 8vh;
                    display: block;
                }
            }
        }
    }
    
    .foot-content {
        border: 2px solid white;
        border-radius: 60px;
        margin: 0 1.1em 0;
        padding: 0.5rem;
        height: 5%;
        
        > div {
            color: white;
        }
        
        .footer-top,
        .footer-bottom {
            display: flex;
            justify-content: center;
            
            i {
                color: #ec407a;
                font-size: 2rem;
                margin-right: 10px;
            }
        }
        
        .footer-top {
            padding: 1rem;
            
            > a > img {
                padding-top: 1.5em;
                margin-right: calc(0.8rem + 1vw);
                width: 120px;
                margin-top: -1.5em;
            }
            
            address {
                font-style: normal;
                
                p {
                    margin: 0;
                    text-align: left;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    
                    a {
                        text-decoration: none;
                        color: white;
                        margin-left: 0.5rem;
                    }
                }
                
                p:first-of-type {
                    padding-top: 1rem;
                }
            }
        }
        
        .footer-separation {
            height: 2px;
            width: 70%;
            margin: auto;
            background-color: white;
        }
        
        .footer-bottom {
            text-align: left;
            padding-bottom: 0;
            font-size: 1em;
            
            .footer-nav,
            .footer-rs-legal {
                font-size: 1rem;
                margin: 0.5rem;
            }
            
            li {
                list-style: none;
            }
            
            a {
                text-decoration: none;
                padding: calc(0.2rem + .6vw) 0;
                color: white;
                
                &:hover {
                    color: #ec407a;
                    text-decoration: underline;
                }
            }
        }
    }
    
    .copyright {
        display: block;
        color: white !important;
        font-size: 10px;
        z-index: 2000;
        padding: 1rem 0;
        
        p {
            color: white !important;
            text-align: center !important;
            margin: 0;
            
            small {
                font-size: 10px;
            }
        }
    }
}

@media #{$small} {
    // Styles pour les petits appareils (min-width: 576px)
    
    #footer {
        .footer-top,
        .footer-bottom {
            i {
                font-size: 1.6rem;
            }
        }
        
        .footer-top {
            margin: auto;
            
            > a > img {
                margin-right: 5vw;
                width: 12.5rem;
            }
            
            address p {
                font-size: 1.6rem;
            }
        }
        
        .footer-separation {
            height: 2px;
            width: 85%;
            margin: 0 auto calc(1rem + 2.5vw) auto;
        }
        
        .footer-bottom {
            text-align: left;
            border-bottom: 1px solid white;
            
            .footer-nav,
            .footer-rs-legal {
                font-size: 1rem;
                margin: 0 10vw;
                
                i {
                    font-size: 3.7rem;
                    margin: 0 2.8rem 2.8rem 0;
                }
            }
            
            li {
                padding: 0.5rem 0;
            }
        }
        
        .copyright {
            p small {
                font-size: 15px;
            }
        }
    }
}

@media #{$medium} {
    // Styles pour les appareils moyens (min-width: 768px)
    
    #footer {
        .footer-top,
        .footer-bottom {
            i {
                font-size: 1.6rem;
            }
        }
        
        .footer-top {
            margin: auto;
            
            > a > img {
                margin-right: 5vw;
                width: 12.5rem;
            }
            
            address p {
                font-size: 1.6rem;
            }
        }
        
        .footer-separation {
            height: 2px;
            width: 85%;
            margin: 0 auto calc(1rem + 2.5vw) auto;
        }
        
        .footer-bottom {
            text-align: left;
            border-bottom: 1px solid white;
            
            .footer-nav,
            .footer-rs-legal {
                font-size: 1rem;
                margin: 0 10vw;
                
                i {
                    font-size: 3.7rem;
                    margin: 0 2.8rem 2.8rem 0;
                }
            }
            
            li {
                padding: 0.5rem 0;
            }
        }
        
        .copyright {
            p small {
                font-size: 15px;
            }
        }
    }
}

@media #{$medium-large} {
    // Styles pour les appareils intermédiaires (min-width: 850px)
    
    #footer {
        bottom: -70vh;
        
        .footer-top,
        .footer-bottom {
            i {
                font-size: 1.6rem;
            }
        }
        
        .footer-top {
            margin: auto;
            
            > a > img {
                margin-right: 5vw;
                width: 12.5rem;
            }
            
            address p {
                font-size: 1.6rem;
            }
        }
        
        .footer-separation {
            height: 2px;
            width: 85%;
            margin: 0 auto calc(1rem + 2.5vw) auto;
        }
        
        .footer-bottom {
            text-align: left;
            border-bottom: 1px solid white;
            
            .footer-nav,
            .footer-rs-legal {
                font-size: 1rem;
                margin: 0 10vw;
                
                i {
                    font-size: 3.7rem;
                    margin: 0 2.8rem 2.8rem 0;
                }
            }
            
            li {
                padding: 0.5rem 0;
            }
        }
        
        .copyright {
            p small {
                font-size: 15px;
            }
        }
    }
}

@media #{$large} {
    // Styles pour les grands appareils (min-width: 992px)
    
    #footer {
        bottom: -60vh;
        
        .footer-top,
        .footer-bottom {
            i {
                font-size: 1.6rem;
            }
        }
        
        .footer-top {
            margin: auto;
            
            > a > img {
                margin-right: 5vw;
                width: 12.5rem;
            }
            
            address p {
                font-size: 1.6rem;
            }
        }
        
        .footer-separation {
            height: 2px;
            width: 85%;
            margin: 0 auto calc(1rem + 2.5vw) auto;
        }
        
        .footer-bottom {
            text-align: left;
            border-bottom: 1px solid white;
            
            .footer-nav,
            .footer-rs-legal {
                font-size: 1rem;
                margin: 0 10vw;
                
                i {
                    font-size: 3.7rem;
                    margin: 0 2.8rem 2.8rem 0;
                }
            }
            
            li {
                padding: 0.5rem 0;
            }
        }
        
        .copyright {
            p small {
                font-size: 15px;
            }
        }
    }
}

@media #{$extra} {
    // Styles pour les très grands appareils (min-width: 1200px)
    
    #footer {
        bottom: -60vh;
        
        .footer-top,
        .footer-bottom {
            i {
                font-size: 1.6rem;
            }
        }
        
        .footer-top {
            margin: auto;
            
            > a > img {
                margin-right: 5vw;
                width: 12.5rem;
            }
            
            address p {
                font-size: 1.6rem;
            }
        }
        
        .footer-separation {
            height: 2px;
            width: 85%;
            margin: 0 auto calc(1rem + 2.5vw) auto;
        }
        
        .footer-bottom {
            text-align: left;
            border-bottom: 1px solid white;
            
            .footer-nav,
            .footer-rs-legal {
                font-size: 1rem;
                margin: 0 10vw;
                
                i {
                    font-size: 3.7rem;
                    margin: 0 2.8rem 2.8rem 0;
                }
            }
            
            li {
                padding: 0.5rem 0;
            }
        }
        
        .copyright {
            p small {
                font-size: 15px;
            }
        }
    }
}

@media #{$extra-large} {
    // Styles pour les super grands écrans (min-width: 1400px)
}

@media #{$ultra} {
    // Styles pour les ultra grands écrans (min-width: 1600px)
}